@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(135deg, #080f1f, #1e293b); */
  background: linear-gradient(135deg, #070d1d, #141d2a);
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: 'Fira Code', monospace;
}